{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="jumbotron">
  <h1 class="display-4">slab3000</h1>
  <p class="lead">Automate the tedious stuff.</p>
  <hr class="my-4">
  <p>slab3000 description goes here.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/design" role="button">Get started</a>
  </p>
</div> 

<footer>
  <p>Author: Someone's Name</p>
  <p><a href="mailto:someone@company.com">someone@company.com</a></p>
</footer>

{% endblock %}
